*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(250, 250, 250);
}

.main{
    padding: 10%;
    background-color: rgb(199, 211, 252);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}
.fr{
    padding: 5%;
    display: flex;
    background-color: rgb(226, 60, 96);
    flex-direction: row;
    border: 2px solid #f3f3f3;
    align-items: center;
    justify-content: center;
}
.en{
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 60, 96);
    border: 2px solid #f3f3f3;
}
.col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty{
    display: inline-block;
    height: 40px;
    width: 180px;
    margin: 10px;
    border: 2px  rgb(221, 193, 133) solid;
    border-radius: 15px;
    background-color: white;
}
.fill{
    margin: 3px;
    position: relative;
    height: 30px;
    width: 170px;
    top: 5px;
    left: 5px;
    font-weight: 700;
    cursor: pointer;
}
.barrfoo{
    background-color:  rgb(226, 43, 98);
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.chemp1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: 50%;
    color: whitesmoke;
    background-color: rgb(199, 211, 252);
    border: 2px solid rgb(212, 179, 194);
    cursor: pointer;
}
.chemp1:hover{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 60, 96);
    border: 2px solid  rgb(199, 211, 252);
}

.chemp2{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: 50%;
    background-color:rgb(199, 211, 252);
}
.chemp3{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: 50%;
    background-color: rgb(199, 211, 252);
}
.empty:hover {
   background:  rgb(165, 42, 99);
   transform: translate(0, 0.1em);
   border: 2px  whitesmoke solid;
   color: whitesmoke;
}

@media screen and (max-width:800px)
{
    .main{
        padding:5%;
        background-color: rgb(43, 86, 226);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height:300px;
    }
}

 .hold{
     border: solid grey 4px;
 }
 .hovered{
     background-color: hotpink;
     border-style: dashed;
 }
 .invisible{
     display: none;
 }

















 /*ctrl1 - M4 ouariali otmane*/